.intro__video {
    max-width: 450px;
    margin: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .feature__container :is(.section__subheader, .section__header) {
    text-align: center;
  }
  
  .feature__grid {
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
  }
  
  .feature__card span {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    color: var(--secondary-color);
  }
  
  .feature__card h4 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 800;
    font-family: var(--header-font);
    counter-reset: var(--text-dark);
  }
  
  .feature__card p {
    color: var(--text-light);
  }
  
  .menu {
    background-color: var(--extra-light);
  }
  
  .news__header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .news__grid {
    margin-top: 4rem;
    display: grid;
    gap: 2rem 1rem;
  }
  
  .news__card img {
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .news__card__title {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .news__card__title p {
    font-weight: 500;
    color: var(--text-light);
  }
  
  .news__card h4 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
  }
  
  .news__card p {
    color: var(--text-light);
  }
  
  .footer {
    
    background-color: #3e9261;
  }
  
  .footer__container {
    display: grid;
    gap: 4rem 2rem;
  }
  
  .footer__logo {
    margin-bottom: 2rem;
    color: var(--white);
    
  }
  
  .footer__logo div {
    
    background-color: rgb(64, 252, 39);
  }
  
  .footer__socials {
    list-style: none;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .footer__socials a {
    padding: 6px 10px;
    font-size: 1.25rem;
    color:  var(--text-light);
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .footer__socials a:hover {
    color: var(--white);
    background-color: rgb(127, 255, 88);
  }
  
  .footer__col h4 {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--white);
  }
  
  .footer__links {
    list-style: none;
  }
  
  .footer__links li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .footer__links a {
    color: rgb(0, 0, 0);
    transition: 0.3s;
  }
  
  .footer__links a:hover {
    color: rgb(255, 255, 255);
  
  }
  
  .footer__col:last-child .footer__links li {
    margin-bottom: 2rem;
  }
  
  .footer__links span {
    font-size: 2rem;
    color: var(--secondary-color);
    color: rgb(64, 252, 39);
  }
  
  .footer__links h5 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--white);
  }
  
  .footer__links p {
    color: white;
  }
  
  .footer__bar {
    padding: 1rem;
    font-size: 0.8rem;
    color: white;
    
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .nav__links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      background-color: #fff;
      width: 100%;
    }
  
    .nav__menu__btn {
      display: block;
      cursor: pointer;
    }
  }
  
  @media (width > 480px) {
  
    .feature__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .news__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .footer__col:first-child {
      grid-column: 1/3;
    }
  }